@mixin links-transition($duration) {
  -o-transition: $duration;
  -ms-transition: $duration;
  -moz-transition: $duration;
  -webkit-transition: $duration;
}
@mixin reset-boxmodel(){
	border:0;
	padding:0;
}
@mixin webkit-transition($activity...){
	-o-transition: 		$activity;
	-ms-transition: 	$activity;
	-moz-transition: 	$activity;
	-webkit-transition: $activity;
}