@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'scss/variables';
@import 'scss/respo';

h1,h2,h3,h4,h5,h6{

}
ul,ol{
	padding:0;
	margin:0;
}
li{

}
a{

}






/* --------------------------------------------
	NAVIGATION BAR
-----------------------------------------------*/
.navigation{
	position: fixed;
	top: 0;
	background-color: $menu-main-color;
	width:100%;
	margin-bottom: 40px;
	z-index:2;
	ul{
		float: right;
		display:inline-block;
		list-style-type:none;
		margin-top: 50px;
	}
}
.navigation-logo{
	display: inline-block;
	padding:0;
	border:0;
	height: 150px;
}
.navigation-item{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;

}
.navigation-title{
    color: $menu-item-color;
    text-decoration: none;
    &:hover{
    	color: $button-color;
    	transition: 0.5s ease;
    }
}
/* --------------------------------------------
					NEWS 
-----------------------------------------------*/
.news{
	position: absolute;
	top: 200px;
	z-index: 1;
}
	
.news-item{
	background-color: $section-color;
	display:block;
	margin: 20px;
	width: 500px;
}
.news-item-title{
	color: $button-color;
	display: block;
	font-size: 40px;
	text-align: center;

}
/* --------------------------------------------
				META INFORMATION 
-----------------------------------------------*/
.meta-information{
	li{
		display: inline;
		font-size: 15px;
		font-style: italic;
	}
}


/* --------------------------------------------
				CONTAINER
-----------------------------------------------*/
.container{
	max-width: 1500px;
	margin: 0 auto;
}
.container-main{
	max-width: 500px;
	margin: 0 auto;
}