@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'scss/variables';
@import 'scss/respo';
@import 'scss/mixins';

body{
    
    font-family: 'Lato', sans-serif;
    background: $background;
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 1.2px;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Roboto Slab',serif;
}
ul,ol{
	@include reset-boxmodel();
	list-style: none;
}
li{

}
a{

}

/* --------------------------------------------
	NAVIGATION BAR
-----------------------------------------------*/
.navigation{
	background-color: $menu-main-color;
	margin-bottom: 40px;
	opacity:1;
	position: fixed;
	top: 0;
	width:100%;
	@include links-transition(0.3s);
	z-index:4;
	ul{
		float: right;
		display:inline-block;
		list-style-type:none;
    margin-top: 50px;
    @include webkit-transition(margin-top 0.3s ease-in-out);
	}
}
.navigation-logo{
	display: inline-block;
	@include reset-boxmodel();
	height: $menu-height;
  @include webkit-transition(height 0.3s ease-in-out);
}
.navigation-item{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;

}
.navigation-title{
    color: $menu-item-color;
    text-decoration: none;
    &:hover{
    	color: $button-color;
    	transition: 0.3s ease-in-out;
    }
}
.navigation.tiny{
	animation: tiny-menu-animation 0.3s;
	z-index:4;

	
	opacity: 0.9;
	transition: 0.5s ease-in;
	ul{
		margin-top: 0px;
		transition: margin-top 0.3s ease-in-out;
	}
}
.navigation-logo.tiny{
	height: 50px;
	transition: height 0.3s ease-out;
}
/* --------------------------------------------
					BLOG
-----------------------------------------------*/


/* --------------------------------------------
					BLOG text styles (same appeals to widgets)
-----------------------------------------------*/
.post-body, .about-body {
             padding: 0 30px;
  			font-size: 16px;
  				line-height: 24px;
  			margin-bottom: 15px;
  			overflow: hidden;
    }




#blog-body{
	padding-top: 185px;
}

/* --------------------------------------------
					BLOG-POSTS
-----------------------------------------------*/
article.blog-post{
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
    }

    .bg-white{
        background: #fff;
    }
    div{
        display: block;
    }
    article img{
        width:100%;
        max-width: 100%;
    }

    .post-head{
            padding: 20px 30px 24px;
            text-align: center;
            margin-bottom: 10px;
    }

.post-head .category a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.1px;
  display: inline-block;
  padding: 2px 0;
}


.post-title{
    h2{ margin-top: 10px;}
    



    .author a{
        color: $blog-accent;
    }
    span.date, span.author {
    font-style: italic;
    color: #a5a5a5;
    margin-right: 3px;
    font-family: "Lato",serif;
    margin-top: 6px;
    font-size: 14px;
}
}
span.category {
  height: auto;
  display: inline-block;
}

.post-head .category a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.1px;
  display: inline-block;
  padding: 2px 0;
}


  article .post-body p{
    font-size: 1.6rem;
    font-family: Roboto, serif;
    color: #9a9a9a;
    line-height: 26px;
    font-weight: 300;
    margin: 30px 0 25px;
    }  
    .read-more-hld{
        text-align: center;
    }

  .read-more{
        text-transform: uppercase;
        color: $blog-accent;
        letter-spacing: 2px;
        font-size: 11px;
        padding: 7px 16px 8px;
        display: inline-block;
        margin-top: 12px;
        border: 1px solid #e9e9e9;
        border-radius: 0;
        background: transparent;
        @include links-transition(.3s);
        &:hover{
            background:$blog-accent;
            color: #fff;
            border: 1px solid #EE8176;
            text-decoration: none;

        }
    }
/* --------------------------------------------
					Rightside widgets
-----------------------------------------------*/
/* --------------------------------------------
					Default styles (about)
-----------------------------------------------*/

.widget {
  background: #ffffff;
  padding: 28px 15px 15px 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
  -moz-box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
  box-shadow: 0 5px 4px -4px rgba(190,190,190,.1);
}
.widget-head {
  position: relative;
  margin-bottom: 25px;
  display: block;
  text-align: center;
  &:before {
  content: "";
  width: 100%;
  height: 1px;
  top: 49%;
  border-bottom: 1px solid #E6E6E6;
  position: absolute;
  left: 0;
}
h4 {
  font-family: 'Lato';
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
  line-height: 27px;
  padding: 0 10px;
  border: 1px solid #E6E6E6;
  display: inline-block;
  margin: 0;
  background: #ffffff;

}
}

.widget-head h4 {
  position: relative;
  z-index: 3;
}
.widget-img{
	margin-bottom: 10px;
	img{
	max-width:100%;
	width: 100%;
}
}
/* --------------------------------------------
					Social widget
-----------------------------------------------*/
ul.social-icons{
	text-align: center;
	li{
		display: inline-block;
	}
}
.social-icons li a .fa {
  border: 1px solid #e8e8e8;
  color: $blog-accent;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 29px;
  margin-left: 3px;
  @include links-transition(.3s);
  &:hover{
            background:$blog-accent;
            color: #fff;
            border: 1px solid #EE8176;
            text-decoration: none;

        }
}
/* --------------------------------------------
					shop widgets
-----------------------------------------------*/

/* --------------------------------------------
					Animation
-----------------------------------------------*/
@keyframes tiny-menu-animation{
	0%{
		height: $menu-height;
	}
	25%{
		height: $menu-height/4;
	}
	50%,75%{
		height: 100px;
	}
  75%{
    height: 75px;
  }
	100%{
		height: 50px;
	}
}