/* -----------------------------------------------
	Colors:
	menu-main-color: rgb(22 21 21)    -> #161515
	menu-item-title: rgb(205 128 70)  -> #CD8046
	logo, buttons: 	 rgb(175 58 47)   -> #AF3A2F
	section: 		 rgb(244 244 244) -> #F4F4F4
--------------------------------------------------*/

$menu-main-color: #161515;
$menu-item-color: #CD8046;
$button-color:    #AF3A2F;
$section-color:   #F4F4F4;
$background: 	  #f8f8f8;
$blog-accent:     #e74c3c;

/* -----------------------------------------------
	Sizes:
	menu-height: 		200px
	menu-height-tiny: 	50px;
	logo, buttons: 	 rgb(175 58 47)   -> #AF3A2F
	section: 		 rgb(244 244 244) -> #F4F4F4
--------------------------------------------------*/

$menu-height: 150px;