node_modules/
.sass-cache/
/resources/images/background.jpg
/resources/images/banner.png
/resources/images/burger.png
/resources/images/fit-woman.jpg
/resources/images/karate.jpg
/resources/images/kimono-sklep.png
/resources/images/kimono.jpg
/resources/images/logo.png
/resources/images/logo_2.png
/resources/images/logo_3.png
/resources/images/logo_baner.jpg
/resources/images/siatka.png
