@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
/* -----------------------------------------------
	Colors:
	menu-main-color: rgb(22 21 21)    -> #161515
	menu-item-title: rgb(205 128 70)  -> #CD8046
	logo, buttons: 	 rgb(175 58 47)   -> #AF3A2F
	section: 		 rgb(244 244 244) -> #F4F4F4
--------------------------------------------------*/
ul, ol {
  padding: 0;
  margin: 0; }

/* --------------------------------------------
	NAVIGATION BAR
-----------------------------------------------*/
.navigation {
  position: fixed;
  top: 0;
  background-color: #161515;
  width: 100%;
  margin-bottom: 40px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  z-index: 2; }
  .navigation ul {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin-top: 50px;
    transition: margin-top 0.3s ease-in-out; }

.navigation-logo {
  display: inline-block;
  padding: 0;
  border: 0;
  height: 150px;
  transition: height 0.3s ease-in-out; }

.navigation-item {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase; }

.navigation-title {
  color: #CD8046;
  text-decoration: none; }
  .navigation-title:hover {
    color: #AF3A2F;
    transition: 0.3s ease-in-out; }

.navigation.tiny {
  height: 100px;
  opacity: 0.9;
  transition: 0.3s ease-in; }
  .navigation.tiny ul {
    margin-top: 25px;
    transition: margin-top 0.3s ease-in-out; }

.navigation-logo.tiny {
  height: 100px;
  transition: height 0.3s ease-out; }

/* --------------------------------------------
					NEWS 
-----------------------------------------------*/
.news {
  position: absolute;
  top: 200px;
  z-index: 1; }

.news-item {
  background-color: #F4F4F4;
  display: block;
  margin: 20px;
  width: 500px; }

.news-item-title {
  color: #AF3A2F;
  display: block;
  font-size: 40px;
  text-align: center; }

/* --------------------------------------------
				META INFORMATION 
-----------------------------------------------*/
.meta-information li {
  display: inline;
  font-size: 15px;
  font-style: italic; }

/* --------------------------------------------
				CONTAINER
-----------------------------------------------*/
.container {
  max-width: 1500px;
  margin: 0 auto; }

.container-main {
  max-width: 500px;
  margin: 0 auto; }
