@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
/* -----------------------------------------------
	Colors:
	menu-main-color: rgb(22 21 21)    -> #161515
	menu-item-title: rgb(205 128 70)  -> #CD8046
	logo, buttons: 	 rgb(175 58 47)   -> #AF3A2F
	section: 		 rgb(244 244 244) -> #F4F4F4
--------------------------------------------------*/
/* -----------------------------------------------
	Sizes:
	menu-height: 		200px
	menu-height-tiny: 	50px;
	logo, buttons: 	 rgb(175 58 47)   -> #AF3A2F
	section: 		 rgb(244 244 244) -> #F4F4F4
--------------------------------------------------*/
@media (min-width: 1367px) {
  .container {
    width: 1240px !important; } }

@media (min-width: 1280px) {
  .container {
    width: 1200px !important; } }

@media (min-width: 1200px) {
  .col-lg-9 {
    width: 70% !important; }
  .col-lg-3 {
    width: 30% !important; } }

body {
  font-family: 'Lato', sans-serif;
  background: #f8f8f8;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab',serif; }

ul, ol {
  border: 0;
  padding: 0;
  list-style: none; }

/* ---------------------------------------------------------------------------------------------
                                              HEADER
------------------------------------------------------------------------------------------------*/
/* --------------------------------------------
	                   WRAPER
-----------------------------------------------*/
.top-wrapper {
  position: fixed;
  background-color: #161515;
  height: 50px;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: 4;
  visibility: hidden;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s; }
  .top-wrapper img {
    display: block;
    float: left;
    height: 50px;
    margin-left: 40px; }

.wrapper-nav {
  float: right;
  border: 0;
  padding: 0;
  height: 50px; }

.wrapper-item {
  display: inline; }

.wrapper-title {
  display: inline-block;
  padding: 10;
  font-size: 14px;
  text-transform: uppercase;
  height: 50px;
  color: #CD8046; }
  .wrapper-title:hover {
    color: #AF3A2F;
    background-color: #E6E6E6;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    text-decoration: none; }

.top-wrapper.show {
  visibility: visible;
  opacity: 0.9;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s; }

/* -------------------------------------------------
                  HEADER
----------------------------------------------------*/
.header {
  background-color: #161515;
  border: 0;
  padding: 0; }

.logo {
  display: block;
  margin: 5px auto 10px; }

.header-nav {
  border: 0;
  padding: 0;
  border: 1px solid #E6E6E6;
  border-width: 2px 0;
  text-align: center; }
  .header-nav ol {
    margin: 0; }

.header-nav-item {
  display: inline; }

.header-nav-title {
  border: 1px solid transparent;
  border-width: 1px 0;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  color: #AF3A2F;
  text-transform: uppercase; }
  .header-nav-title:hover {
    border: 1px solid #161515;
    border-width: 1px 0;
    color: #161515;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    text-decoration: none; }

/* ---------------------------------------------------------------------------------------------
                                              BLOG
------------------------------------------------------------------------------------------------*/
/* --------------------------------------------
					BLOG text styles (same appeals to widgets)
-----------------------------------------------*/
.post-body, .about-body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  overflow: hidden; }

#blog-body {
  padding-top: 50px; }

/* --------------------------------------------
					BLOG-POSTS
-----------------------------------------------*/
article.blog-post {
  margin-bottom: 50px;
  -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1); }

.bg-white {
  background: #fff; }

div {
  display: block; }

article img {
  width: 100%;
  max-width: 100%; }

.post-head {
  padding: 20px 30px 24px;
  text-align: center;
  margin-bottom: 10px; }

.post-head .category a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.1px;
  display: inline-block;
  padding: 2px 0; }

.post-title h2 {
  margin-top: 10px; }

.post-title .author a {
  color: #e74c3c; }

.post-title span.date, .post-title span.author {
  font-style: italic;
  color: #a5a5a5;
  margin-right: 3px;
  font-family: "Lato",serif;
  margin-top: 6px;
  font-size: 14px; }

span.category {
  height: auto;
  display: inline-block; }

.post-head .category a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.1px;
  display: inline-block;
  padding: 2px 0; }

article .post-body p {
  font-size: 1.6rem;
  font-family: Roboto, serif;
  color: #9a9a9a;
  line-height: 26px;
  font-weight: 300;
  margin: 30px 0 25px; }

.read-more-hld {
  text-align: center; }

.read-more {
  text-transform: uppercase;
  color: #e74c3c;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 7px 16px 8px;
  display: inline-block;
  margin-top: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 0;
  background: transparent;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s; }
  .read-more:hover {
    background: #e74c3c;
    color: #fff;
    border: 1px solid #EE8176;
    text-decoration: none; }

/* --------------------------------------------
					Rightside widgets
-----------------------------------------------*/
/* --------------------------------------------
					Default styles (about)
-----------------------------------------------*/
.widget {
  background: #ffffff;
  padding: 28px 15px 15px 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1); }

.widget-head {
  position: relative;
  margin-bottom: 25px;
  display: block;
  text-align: center; }
  .widget-head:before {
    content: "";
    width: 100%;
    height: 1px;
    top: 49%;
    border-bottom: 1px solid #E6E6E6;
    position: absolute;
    left: 0; }
  .widget-head h4 {
    font-family: 'Lato';
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    line-height: 27px;
    padding: 0 10px;
    border: 1px solid #E6E6E6;
    display: inline-block;
    margin: 0;
    background: #ffffff; }

.widget-head h4 {
  position: relative;
  z-index: 3; }

.widget-img {
  margin-bottom: 10px; }
  .widget-img img {
    max-width: 100%;
    width: 100%; }

/* --------------------------------------------
					Social widget
-----------------------------------------------*/
ul.social-icons {
  text-align: center; }
  ul.social-icons li {
    display: inline-block; }

.social-icons li a .fa {
  border: 1px solid #e8e8e8;
  color: #e74c3c;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-left: 3px;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s; }
  .social-icons li a .fa:hover {
    background: #e74c3c;
    color: #fff;
    border: 1px solid #EE8176;
    text-decoration: none; }

/* --------------------------------------------
					shop widgets
-----------------------------------------------*/
/* --------------------------------------------
					Animation
-----------------------------------------------*/
@keyframes tiny-menu-animation {
  0% {
    height: 150px; }
  25% {
    height: 120px; }
  50% {
    height: 90px; }
  75% {
    height: 60px; }
  100% {
    height: 30px; } }
